<div id="press_release_<%= press_release.id %>">
  <h3><%= press_release.title %></h3>
  <p><%= press_release.content %></p>
  <p><strong>Published on:</strong> <%= press_release.publish_date %></p>
</div>
